@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.795);
  background-color: rgb(0, 30, 43);
}

button {
  font: inherit;
  cursor: pointer;
  border: 1px solid rgb(0, 237, 100);
  color: white;
  background-color: rgb(0, 104, 74);
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: rgb(1, 121, 87);
  border-color: rgb(0, 237, 100);
}

button:disabled {
  color: grey;
  cursor: inherit;
  background: rgb(51, 79, 71);
  border-color: rgb(97, 158, 122);
}